@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0px;
    background-color: #a83b0899;
    backdrop-filter: blur(10px);
}

.navbar {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_h1 {
    font-family: "Roboto", sans-serif;
    color: white;
}

.nav_text {
    display: flex;
    align-items: center;
    gap: 70px;
    font-family: "Roboto", sans-serif;
}

.nav_a {
    color: white;
    text-decoration: none;
}

main {
    width: 100%;
    height: 650px;
    background-image: url(https://img.freepik.com/free-photo/grunge-black-concrete-textured-background_53876-124541.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_text {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.main_h1 {
    color: white;
    font-family: "Roboto", sans-serif;
}

.main_p {
    color: white;
    font-family: "Roboto", sans-serif;
}

.main_btn {
    padding: 12px 40px;
    color: white;
    font-family: "Roboto", sans-serif;
    background-color: #6D261B;
    border-radius: 10px;
}

.products {
    background-color: #F4E9D1;
}

.products_h1 {
    text-align: center;
    padding-top: 100px;
    font-family: "Roboto", sans-serif;
    color: #6D261B;
}

.reels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
    flex-wrap: wrap;
}

.reel {
    width: 220px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #6D261B;
    border-radius: 25px;
}

.reel_img {
    height: 300px;
    border-radius: 25px;
}

.reel_text {
    margin-left: 20px;
    margin-top: 15px;
}

.reel_main_text {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.reel_price {
    color: white;
    font-family: "Roboto", sans-serif;
}

.reel_dop_text {
    color: white;
    font-family: "Roboto", sans-serif;
}

.about {
    background-color: #F4E9D1;
}

.b {
    display: flex;
    justify-content: center;
}

.things {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-top: 170px;
    padding-bottom: 70px;
}

.thing {
    display: flex;
}

.thing_img {
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

.things_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    font-family: "Roboto", sans-serif;
    color: #6D261B;
}

.t2 {
    margin-left: 0px;
    margin-right: 150px;
    font-family: "Roboto", sans-serif;
    color: #6D261B;
}

.line {
    background-color: #6D261B;
    height: 20px;
}

footer {
    background-color: #F4E9D1;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 25px;
}

.icons_a {
    background: none;
    border: none;
    cursor: pointer;
}

.icon_img {
    width: 50px;
    height: 50px;
}

.i1 {
    width: 60px;
    height: 60px;
}

.location {
    height: 100px;
    background-color: #bba471;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location_p {
    font-family: "Roboto", sans-serif;
    color: #6D261B;
}

.line2 {
    height: 40px;
}

.contact_slide {
    background-color: #F4E9D1;
    display: flex;
}

.nav2 {
    background-color: #6D261B;
}

.line3 {
    margin-top: 135px;
    margin-bottom: 78px;
}

form {
    width: 700px;
    height: 600px;
    background-color: #6D261B;
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.form_h1 {
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 30px;
    margin-top: 40px;
}

.form_p {
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 5px;
}

.form_pend {
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 30px;
}

input {
    width: 650px;
    height: 45px;
    border-radius: 10px;
    background-color: #6D261B;
    border: #F4E9D1 1px solid;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
}

fieldset {
    width: 650px;
    border-radius: 10px;
    border: #F4E9D1 1px solid;
    margin-bottom: 20px;
}

.input_end {
    border: none;
    padding-bottom: 90px;
    height: 120px;
    margin-bottom: 0px;
}


.form_btn {
    width: 650px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #F4E9D1;
    border: none;
    border-radius: 10px;
    color: #6D261B;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.line4 {
    margin-top: 78px;
}

input::placeholder {
    color: gray;
    opacity: 50%;
}